################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Prj/vs215/SerialPort/.vs/SerialPort/v14
